* {
  font-family: Calibri, Arial, sans-serif;
  word-wrap: break-word;
}

#pageTitle {
  display: inline;
  float: left;
}


#user {
  float: right;
}

#signOut {
  display: block;
  width: 40px;
  height: 40px;
  margin: 3px;
  
  background-image: url(Power.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: rgba(255, 255, 255, 0);
  background-size: 40px, 40px;
  border: none;
}

#signOutForm{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0px;
  margin-right: 10px;
}

#username {
  vertical-align: top;
  display: inline;
  color: black;
}

#header {
  height: 40px;
  color: white;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 15px;
  padding: 10px;
  padding-left: 18px;
  font-size: 36px;
  background: -webkit-linear-gradient(left, black, transparent);
  background: -o-linear-gradient(right, black, transparent);
  background: -moz-linear-gradient(right, black, transparent);
  background: linear-gradient(to right, black , transparent);
}

.clear {
  clear: both;
}


.postits {
  grid-template-columns: auto;
  grid-template-rows: auto;
  border-style: none;
  overflow: hidden;
}

.postit {
  float: left;
  border-style: solid;
  border-width: 1px 2px 4px 1px;
  border-radius: 10px;
  margin: 10px;
  width: 250px;
  height: 250px;
  background-color: #F5F5F5;
}

.postitHeader {
  direction: rtl;
  display: flex;
  height: 20px;
}

.author {
  padding-top: 1px;
  padding-right: 4px;
}



div.postitTitle {
  font-weight: bold;
  font-size: 16pt;
  margin: 10px;
  margin-top: 0px;
}

.editing > div.postitTitle {
  display: none;
}

input[type="text"].postitTitle  {
  font-weight: bold;
  font-size: 16pt;
  margin: 10px;
  margin-top: 0px;
  width: 14em;
  width: 200px;
}

:not(.editing) > input[type="text"].postitTitle {
  display:none;
}




div.postitBody {
  margin: 10px;
}

.editing > div.postitBody {
  display: none;
}

textarea.postitBody {
  margin: 10px;
  margin: 10px;
  width: 225px;
  height: 140px;
}

:not(.editing) > textarea.postitBody {
  display:none;
} 





.edit {
  display: block;
  width: 15px;
  height: 15px;
  margin: 3px;
  
  background-image: url(Edit.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: rgba(255, 255, 255, 0);
  background-size: 15px, 15px;
  border: none;
}

.editing >div> .edit {
  display: none;
}

.delete {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 3px;
  
  background-image: url(Delete.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: rgba(255, 255, 255, 0);
  background-size: 15px, 15px;
  border: none;
}

.editing >div> .delete {
  display: none;
}


.cancel {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 3px;
  
  background-image: url(Delete.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: rgba(255, 255, 255, 0);
  background-size: 15px, 15px;
  border: none;
}

:not(.editing) >div> .cancel {
  display: none;
}

.create {
  display: block;
  width: 15px;
  height: 15px;
  float: right;
  margin: 3px;
  
  background-image: url(OK.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: rgba(255, 255, 255, 0);
  background-size: 15px, 15px;
  border: none;
}

:not(.editing) >div> .create {
  display: none;
}



.deleteForm {
  display: inline;
}

.addPostit {
  padding: 73px;
}

.error {
  display: block;
  font-size: 8pt;
  color: red;
  margin-left: 0px;
}

div.postit > form > .error {
  margin-left: 10px;
}

.unfollowForm {
  display: inline;
}

.unfollowForm .delete {
  display: inline;
}

.followedUsername {
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0px;
}
