<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Edit PostIt</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div th:include="fragments/header :: copy"></div>

      <div class="postit editing">
        <div class="postitHeader">
          <a class="cancel" href="/"></a>
        </div>

        <form class="editing" action="#" th:action="@{/EditPostit} + '?id=' + ${id}" th:object="${data}" method="post">
          <input class="postitTitle" type="text" th:field="*{title}" value="Title" />
          <span class="error" th:if="*{titleError} != null" th:text="*{titleError}">Test Error message.</span>

          <textarea class="postitBody" th:field="*{body}"></textarea>
          <span class="error" th:if="*{bodyError} != null" th:text="*{bodyError}">Test Error message.</span>

          <input class="create" type="submit" value="" alt="Save" />
        </form>
      </div>

  </body>
</html>
