<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Front Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div th:include="fragments/header :: copy"></div>

    <h2>My Post-its:</h2>
    <div class="postits" id="myPostits">
      <div class="postit" th:each="postit : ${postits}">
        <div class="postitHeader">
          <form class="deleteForm" th:action="@{/DeletePostit} + '?id=' + ${postit.postitID}" method="post">
            <input class="delete" type="submit" alt="Delete" value="" />
          </form>
          <a class="edit" th:href="@{/EditPostit} + '?id=' + ${postit.postitID}"></a>
        </div>

        <div class="postitTitle" th:text="${postit.title}">Test Title</div>
        <div class="postitBody" th:text="${postit.body}">Test postit body, Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
      </div>
      
      <div class="postit">
        <a href="CreatePostit">
          <img id="addPostit" class="addPostit" src="Add.png" alt="Add new postit"></img>
         </a>
      </div>

    </div>

    <h2>Followed users' Post-its:</h2>
    <div class="postits" id="followedPostits">
      <div class="postit" th:each="postit : ${followingPostits}">
        <div class="postitHeader">
          <div class="author" th:text="${postit.author.username}">Author</div>
        </div>

        <div class="postitTitle" th:text="${postit.title}">Test Title</div>
        <div class="postitBody" th:text="${postit.body}">Test postit body, Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
      </div>
    </div>


    <div>
      Following:
      <ul class="followList">
        <li th:each="user : ${following}">
          <form class="unfollowForm" th:action="@{/unfollow} + '?id=' + ${user.userID}" method="post">
            <input th:id="'unfollow-' + ${user.userID}" class="delete" type="submit" alt="Delete" value="" />
          </form>
          <div th:id="'following-' + ${user.userID}" class="followedUsername" th:text="${user.username}">User name</div>
        </li>
      </ul>
    </div>

    <form class="addFriend" th:action="@{/follow}" method="post">
      <input type="text" id="friendName" name="friendUsername" />
      <input class="addFriendBotton" type="submit" alt="Add Friend" value="Add Friend" />
    </form>

    <p><a href="/ajax">Test the AJAX version of this page</a></p>
    <p><a href="/backbone">Test the Backbone version of this page</a></p>
  </body>
</html>
