<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Sign In Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div th:include="fragments/header :: copy"></div>

    <form action="#" th:action="@{/SignUp}" th:object="${data}" method="post">
      Username: <input id="usernameInput" type="text" th:field="*{username}" /><br/>
      <span class="error" id="usernameError" th:if="*{usernameError} != null" th:text="*{usernameError}">Test Username error message.</span>
      
      Password: <input id="passwordInput" type="password" th:field="*{password}" /><br/>
      <span class="error" id="passwordError" th:if="*{passwordError} != null" th:text="*{passwordError}">Test Password error message.</span>
      
      <input type="submit" value="Sign Up" /><br/>
    </form>
    
    <a href="SignIn">Already have an account? Sign In.</a>

  </body>
</html>