<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="copy">


      <div id="header">
        <div id="pageTitle">Post It Notes</div>
        
        <div id="user" th:if="${#httpServletRequest.remoteUser} != null" >
          <div id="username" th:text="${#httpServletRequest.remoteUser}"></div>
          
          <form id="signOutForm" th:action="@{/logout}" method="post">
            <input id="signOut" type="submit" value=""/>
          </form>
          <!-- a href="@{/logout}"><img id="signOut" src="Power.png" alt="logout"></img></a-->
        </div>
      </div>


    </div>
  </body>
</html>